{% load i18n %}
{% comment %}
  Documentation of the moderation settings (values come from settings, see admin.SpamMonitoringAdmin.my_view).
{% endcomment %}
<p>
        {% trans "These variables are used to test for bots and spam in petitions and their associated signatures. You can find and modify their values in " %} <strong>pytition/pytition/settings/base.py</strong>.
    </p>


        <div class="fp-mod-doc-block">
            <h3>{% trans "Cron commands" %}</h3>

            {% blocktrans %}
                <p>
                    Petitions require their signatures to be checked periodically to avoid spam. 
                    You can change this and make the verification at each signatures by using the <strong>switch check signatures at each signature</strong> action in petitions tables. <br>
                    Permissions for organizations are also checked periodically. If a user is moderated, they lose their permissions in their organizations. 
                </p>
            {% endblocktrans %}

            <p>
                {% trans "In order to launch these Cron jobs, you can put the following commands in crontab by using the crontab -e command at the root of the project, outside of the docker container:" %}
            </p>

            <p>
            <ul>
                <li>{time} docker exec {docker_container_name} /venv/.venv/bin/python3.8 pytition/manage.py cron</li>
                <li>{time} docker exec {docker_container_name} /venv/.venv/bin/python3.8 pytition/manage.py cron_permissions</li>
            </ul>
    </p>
        </div>

        <div class="fp-mod-doc-block">
            <h3>{% trans "Tests to avoid inappropriate petitions" %}</h3>

            <p>
                {% trans "In order to avoid inappropriate petitions, we use detectors defined in pytition/petition/spam_management/detectors. They are all called in pytition/petition/spam_management/detector.py." %}
            </p>

            <ul>
                <li>{% trans "akismet_detector: uses Akismet's is_spam() function to detect spam content. Returns 0, 1 or 2." %}</li>
                <li>{% trans "alt_profanity_check_detector: uses function predict_prob() from alt-profanity-check library to detect profanity in english content. Returns 0, 1 or 2." %}</li>
                <li>{% trans "keywords_detector: uses list of forbidden keywords defined in settings. Returns 0 or 1." %}</li>
            </ul>

            <p>
                {% trans "Depending on the results of these detectors, automatic moderation or monitoring actions are taken:" %}
            </p>

            <ul>
                <li>{% trans "0: no spam, no moderation or monitoring." %}</li>
                <li>{% trans "1: possible spam, strong monitoring." %}</li>
                <li>{% trans "2: spam, moderation." %}</li>
            </ul>

            <p>
                {% trans "If there are too many false positives with Akismet, you can disable automatic moderation by putting AKISMET_MODERATION_AUTO at False (pytition/pytition/settings/base.py). That way, Akismet results will only trigger monitoring." %}
            </p>
        </div>

        <div class="fp-mod-doc-block">
            <h3>{% trans "Number of signatures from the same IP address" %}</h3>
            <p>{% trans "These variables are used in the class PetitionCreationWizard(SessionWizardView) in " %}<strong>pytition/petition/views.py</strong>.</p>
            
            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>SIGNATURE_THROTTLE</th>
                        <th>SIGNATURE_THROTTLE_TIMING</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{signature_throttle}}</td>
                        <td>{{signature_throttle_timing}}</td>
                    </tr>
                </tbody>
            </table></div>

            {% blocktrans %}
                <p>
                    SIGNATURE_THROTTLE: maximum number of signatures from the same IP address in a petition in an amout of time defined by SIGNATURE_THROTTLE_TIMING.<br>
                    Here, {{signature_throttle}} signatures can be made by the same IP address in {{signature_throttle_timing}} seconds.
                </p>
            {% endblocktrans %}

        </div>
        

        <div class="fp-mod-doc-block">
            <h3>{% trans "Monitoring variables" %}</h3>
            <p>{% trans "The variables defined as VARIABLE_PRIORITY trigger monitoring with said priority. Four types of monitoring are defined:" %}</p>
               
                <p>Critical: the petition is moderated, <strong>emails</strong> are sent to admin and owner.</p>
                <p>Strong: the petition is monitored with a strong priority, <strong>emails</strong> are sent to admin and user, display in admin and owner dashboard.</p>
                <p>Average: the petition is monitored with an average priority, display in admin and owner dashboard.</p>
                <p>Low: the petition is monitored with a low priority, display in admin.</p>  
        </div>

        <h3>{% trans "Monitoring of users and organizations" %}</h3>
        <p>
            {% trans "These variables are used in functions in " %} <strong>pytition/petition/spam_management/anti_bot_tests/check_petition_number.py</strong>. <br>
            {% trans "These functions are called to monitor users and organizations in " %}<strong>pytition/petition/views.py</strong>
        </p>



        <div class="fp-mod-doc-block">
            <h3>{% trans "Number of petitions in one day" %}</h3>
            
            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>DAY_PETITION_CRITICAL</th>
                        <th>DAY_PETITION_STRONG</th>
                        <th>DAY_PETITION_AVERAGE</th>
                        <th>DAY_PETITION_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{day_petition_critical}}</td>
                        <td>{{day_petition_strong}}</td>
                        <td>{{day_petition_average}}</td>
                        <td>{{day_petition_low}}</td>
                    </tr>
                </tbody>
            </table></div>
            
            {% blocktrans %}
                <p>
                    Maximum numbers of petitions in a day for a user or an organization. <br>
                    Here, if a user creates {{day_petition_critical}} petitions in a day, they are moderated automatically.
                </p>
            {% endblocktrans %}

            <h3>{% trans "Number of monitored or moderated petitions" %}</h3>

            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>MONITORED_PETITIONS_CRITICAL</th>
                        <th>MONITORED_PETITIONS_STRONG</th>
                        <th>MONITORED_PETITIONS_AVERAGE</th>
                        <th>MONITORED_PETITIONS_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{monitored_petitions_critical}}</td>
                        <td>{{monitored_petitions_strong}}</td>
                        <td>{{monitored_petitions_average}}</td>
                        <td>{{monitored_petitions_low}}</td>
                    </tr>
                </tbody>
            </table></div>

            {% blocktrans %}
                <p>
                    Maximum numbers of monitored or moderated petitions for a user or an organization. <br>
                    Here, if a user or an organization has more than {{monitored_petitions_critical}}, they are moderated automatically.
                </p>
            {% endblocktrans %}

            <h3>{% trans "Total number of signatures" %}</h3>

            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>SIGNATURES_TOTAL_CRITICAL</th>
                        <th>SIGNATURES_TOTAL_STRONG</th>
                        <th>SIGNATURES_TOTAL_AVERAGE</th>
                        <th>SIGNATURES_TOTAL_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{signatures_total_critical}}</td>
                        <td>{{signatures_total_strong}}</td>
                        <td>{{signatures_total_average}}</td>
                        <td>{{signatures_total_low}}</td>
                    </tr>
                </tbody>
            </table></div>

            {% blocktrans %}
                <p>
                    Maximum numbers of total signatures for all the petitions of a user or an organization. <br>
                    Here if a user or an organization has more than {{signatures_total_critical}} signatures in all their petitions, they are moderated automatically.
                </p>
            {% endblocktrans %}
    </div>

    <h3>{% trans "Monitoring of petitions" %}</h3>
    <p>
        {% trans "These variables are used in functions in " %}<strong>pytition/petition/spam_management/anti_bot_tests/check_signature_number.py</strong>. <br> 
        {% trans "These functions are called to monitor petitions in " %}<strong>pytition/petition/views.py</strong>
    </p>

    <div class="fp-mod-doc-block">
            <h3>{% trans "Signature variation" %}</h3>

            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>SIGNATURE_VARIATION_CRITICAL</th>
                        <th>SIGNATURE_VARIATION_STRONG</th>
                        <th>SIGNATURE_VARIATION_AVERAGE</th>
                        <th>SIGNATURE_VARIATION_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{signature_variation_critical}}</td>
                        <td>{{signature_variation_strong}}</td>
                        <td>{{signature_variation_average}}</td>
                        <td>{{signature_variation_low}}</td>
                    </tr>
                </tbody>
            </table></div>
        
            {% blocktrans %}
                <p>
                    Maximum signature variations from one day to the next or one week to today. <br>
                    Here, if there is {{signature_variation_strong}} times more signatures today than a fixed period of time, we monitor the petition with a strong priority.
                </p>
            {% endblocktrans %}

            <h3>{% trans "Number of signatures" %}</h3>

            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>SIGNATURE_NUMBER_CRITICAL</th>
                        <th>SIGNATURE_NUMBER_STRONG</th>
                        <th>SIGNATURE_NUMBER_AVERAGE</th>
                        <th>SIGNATURE_NUMBER_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{signature_number_critical}}</td>
                        <td>{{signature_number_strong}}</td>
                        <td>{{signature_number_average}}</td>
                        <td>{{signature_number_low}}</td>
                    </tr>
                </tbody>
            </table></div>
            
            {% blocktrans %}
                <p>
                    Maximum total signature numbers in a petition. <br>
                    Here, if there are more than {{signature_number_strong}} signatures in a petition, we monitor it with a strong priority.
                </p>
            {% endblocktrans %}
            
            <h3>{% trans "Number of unconfirmed signatures" %}</h3>

            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>UNCONFIRMED_NUMBER_CRITICAL</th>
                        <th>UNCONFIRMED_NUMBER_STRONG</th>
                        <th>UNCONFIRMED_NUMBER_AVERAGE</th>
                        <th>UNCONFIRMED_NUMBER_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{unconfirmed_signature_critical}}</td>
                        <td>{{unconfirmed_signature_strong}}</td>
                        <td>{{unconfirmed_signature_average}}</td>
                        <td>{{unconfirmed_signature_low}}</td>
                    </tr>
                </tbody>
            </table></div>
        
            {% blocktrans %}
                <p>
                    Maximum numbers of unconfirmed signatures in the last 6h. <br>
                    For example, here, if there are more than 200 unconfirmed signatures in 6h, we monitor the petition with an average priority.
                </p>
            {% endblocktrans %}

            <h3>{% trans "Number of signatures 24h after creation" %}</h3>

            <div class="fp-table-wrap"><table class="fp-table">  
                <thead>
                    <tr>
                        <th>CREATION_NUMBER_CRITICAL</th>
                        <th>CREATION_NUMBER_STRONG</th>
                        <th>CREATION_NUMBER_AVERAGE</th>
                        <th>CREATION_NUMBER_LOW</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{signature_at_creation_critical}}</td>
                        <td>{{signature_at_creation_strong}}</td>
                        <td>{{signature_at_creation_average}}</td>
                        <td>{{signature_at_creation_low}}</td>
                    </tr>
                </tbody>
            </table></div>    

            {% blocktrans %}
                <p>
                    Maximum numbers of signatures in the 24h after the creation of the petition. <br>
                    For example, here, if there are more than 1000 signatures 24h after the creation of a petition, we monitor it with a low priority.
                </p>
            {% endblocktrans %}
            
    </div>
