{% extends "layouts/layout.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block extracss %}
<link href="{% static "css/fp-auth.css" %}" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div class="fp-container fp-auth">
  <div class="fp-state fp-alert-success" role="status">
    <h1 class="fp-state-title" tabindex="-1" data-autofocus>
      {% include "components/alert_icon.html" with kind="success" %}
      {% trans "Password changed" %}
    </h1>
    <p>{% trans "Your new password is saved. You can now log in with it." %}</p>
  </div>
  <p><a class="fp-btn fp-btn-primary" href="{% url "login" %}">{% trans "Log in" %}</a></p>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static "js/sign.js" %}" defer></script>
{% endblock %}
