{% load i18n %}
<div class="fp-container fp-report">
  <a href="{% url 'report_petition' petition.id %}" class="fp-report-link fp-tap" data-fp-dialog-open="fp-report" rel="nofollow">
    {% include "components/icon.html" with name="flag" %}
    {% trans "Report this petition" %}
  </a>
  <dialog id="fp-report" class="fp-dialog" aria-labelledby="fp-report-title">
    <h2 id="fp-report-title" class="fp-dialog-title">{% trans "Report this petition to moderation" %}</h2>
    {% include "components/report_form.html" with in_dialog=True %}
  </dialog>
</div>
