{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% trans "Homepage" %}{% endblock title %} – {{ settings.SITE_NAME }}</title>
    <script nonce="{{ request.csp_nonce }}">document.documentElement.className = document.documentElement.className.replace("no-js", "js");</script>

    <link rel="icon" href="{% static "favicon.ico" %}" sizes="32x32">
    <link rel="icon" href="{% static "img/brand/framapetitions.svg" %}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{% static "apple-touch-icon.png" %}">
    <link rel="manifest" href="{% static "manifest.json" %}">
    <meta name="theme-color" content="#725794">
    <link rel="preload" href="{% static "vendor/tovari-sans/TovariSans.woff2" %}" as="font" type="font/woff2" crossorigin>
    <!-- Bootstrap -->
    <link href="{% static "vendor/bootstrap-4.6.2/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/common.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <!-- Design system: tokens, then components -->
    <link href="{% static "css/fp-tokens.css" %}" rel="stylesheet">
    <link href="{% static "css/fp-components.css" %}" rel="stylesheet">

    <!-- Extra media -->
    {% block media %}
    {% endblock %}

    <!-- Extra meta -->
    {% block extrameta %}
    {% endblock %}

    <!-- Extra styles -->
    {% block extracss %}
    {% endblock %}
    <!-- Extra js in head -->
    {% block extrajshead %}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock body_class %}">
    <a class="fp-skip-link" href="#main">{% trans "Skip to content" %}</a>
    <div id="modalContainer">
{% block modal %}
{% endblock modal %}
    </div>
    <div class="app d-flex flex-column
{% block justify-app %}
    justify-content-start
{% endblock justify-app %}
    ">
    {% block nav %}{% include 'layouts/nav.html' %}{% endblock nav %}

      <main id="main" tabindex="-1" class="fp-main">
      {% block main_content %}
      {% endblock %}
      </main>

      {% block footer %}
      {% endblock %}

      {% block site_footer %}{% include 'layouts/footer.html' %}{% endblock site_footer %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "vendor/jquery-3.7.1.min.js" %}"></script>
    <script src="{% static "vendor/popper-1.16.1.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.6.2/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/fp-ui.js" %}" defer></script>
    <!-- Framasoft top bar: deferred, never blocks rendering -->
    <script src="https://framasoft.org/nav/nav.js" defer></script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>
