{% extends base_template %}
{% load i18n %}
{% load static %}
{% comment %}
  Petition and template settings. Pages fill edit_content.
  CSS: css/fp-editor.css; behaviours: js/fp-editor.js (tabs come from fp-ui.js, data-fp-tabs).
{% endcomment %}

{% block media %}
    {{ block.super }}
    {{ content_form.media }}
    {{ email_form.media }}
    {{ newsletter_form.media }}
{% endblock %}

{% block extracss %}
  {{ block.super }}
  <link href="{% static "css/fp-editor.css" %}" rel="stylesheet">
{% endblock %}

{% block dash_nav %}{% endblock dash_nav %}

{% block content %}
  {% block edit_content %}{% endblock edit_content %}
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script src="{% static "js/fp-editor.js" %}" defer></script>
{% endblock %}
