{% load i18n %}
<div class="fp-header-user">
  {% if user.is_authenticated or settings.ALLOW_REGISTER %}
  <a class="fp-btn fp-btn-primary fp-anim-turn" href="{% url "user_petition_wizard" %}">
    {% include "components/icon.html" with name="plus" %}
    {% trans "Create a petition" %}
  </a>
  {% endif %}
  {% if user.is_authenticated %}
  <details class="fp-menu">
    <summary class="fp-nav-link">
      {% include "components/icon.html" with name="person" %}
      <span class="fp-account-name">{{ user.get_full_name|default:user.username }}</span>
    </summary>
    <div class="fp-menu-panel">
      <ul class="fp-menu-list">
        <li><a class="fp-menu-item" href="{% url "user_dashboard" %}">{% include "components/icon.html" with name="dashboard" %}{% trans "Your dashboard" %}</a></li>
        {% with orgs=user.organization_set.all %}
        {% if orgs %}
        <li class="fp-menu-sep" role="presentation"></li>
        <li><p class="fp-menu-heading">{% trans "Organizations" %}</p></li>
        {% for org in orgs %}
        <li><a class="fp-menu-item" href="{% url "org_dashboard" org.slugname %}">{% include "components/icon.html" with name="people" %}{{ org.name }}</a></li>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <li class="fp-menu-sep" role="presentation"></li>
        <li><a class="fp-menu-item" href="{% url "org_create" %}">{% include "components/icon.html" with name="plus" %}{% trans "New Organization" %}</a></li>
        <li><a class="fp-menu-item" href="{% url "account_settings" %}">{% include "components/icon.html" with name="cog" %}{% trans "Settings" %}</a></li>
        <li><a class="fp-menu-item" href="{% url "logout" %}?next=/">{% include "components/icon.html" with name="account-logout" %}{% trans "Logout" %}</a></li>
      </ul>
    </div>
  </details>
  {% else %}
  <a href="{% url "login" %}?next={{ request.path|urlencode }}" class="fp-nav-link">{% include "components/icon.html" with name="account-login" %}{% trans "Login" %}</a>
  {% endif %}
</div>
