{% load i18n %}
{% include 'layouts/nav.html' with fluid=True %}
<div class="fp-subnav">
  <div class="fp-container fp-container-fluid fp-subnav-bar">
    <p class="fp-subnav-title">
      {% if is_org %}{% blocktrans trimmed with name=username %}Organization {{ name }}{% endblocktrans %}{% else %}{% trans "Your dashboard" %}{% endif %}
    </p>
    {% if displaying_dashboard is None %}
    <a class="fp-btn fp-btn-tertiary fp-btn-sm" href="{% if is_org %}{% url 'org_dashboard' slug %}{% else %}{% url 'user_dashboard' %}{% endif %}">
      {% include "components/icon.html" with name="arrow-left" %}
      {% trans "Back to dashboard" %}
    </a>
    {% endif %}
  </div>
</div>
