{% load i18n %}
{% comment %}
  Petitions of a dashboard.
  {% include "petition/petition_list.html" with petitions=petitions.all can_create_petition=True %}
{% endcomment %}
<div class="fp-dash-petitions">
  {% if petitions %}
  <ul class="fp-plist" aria-labelledby="fp-page-title">
    {% for petition in petitions %}
    {% include "petition/petition_row.html" with petition=petition in_bin=False %}
    {% endfor %}
  </ul>
  {% else %}
    {% trans "No petition yet" as empty_title %}
    {% if can_create_petition %}
      {% trans "Write a title and a text, then publish when you are ready. It takes a few minutes." as empty_text %}
      {% trans "Create a petition" as empty_label %}
      {% if org %}{% url "org_petition_wizard" org.slugname as empty_url %}{% else %}{% url "user_petition_wizard" as empty_url %}{% endif %}
      {% include "components/empty_state.html" with icon="clipboard" title=empty_title text=empty_text action_url=empty_url action_label=empty_label %}
    {% else %}
      {% trans "You are not allowed to create petitions in this organization." as empty_text %}
      {% include "components/empty_state.html" with icon="clipboard" title=empty_title text=empty_text %}
    {% endif %}
  {% endif %}
</div>
