{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Report this petition to moderation" %}{% endblock title %}

{% block extracss %}
<link href="{% static "css/fp-petition.css" %}" rel="stylesheet">
{% endblock %}

{% block extrameta %}
<meta name="robots" content="noindex">
{% endblock %}

{% block main_content %}
<div class="fp-container fp-signer">
  <div class="fp-page-header">
    <p class="fp-signer-petition">{% blocktrans trimmed with title=petition.title|striptags %}Petition: “{{ title }}”{% endblocktrans %}</p>
    <h1>{% trans "Report this petition to moderation" %}</h1>
  </div>
  <div class="fp-signer-card">
    {% include "components/report_form.html" %}
  </div>
</div>
{% endblock main_content %}
