{% extends base_template %}
{% load i18n %}

{% block title %}{% trans "Signatures over time" %}{% endblock title %}

{% block dash_nav %}{% endblock dash_nav %}

{% block content %}
<div class="fp-page-header fp-dash-head">
  <div>
    <h1 id="fp-page-title">{% trans "Signatures over time" %}</h1>
    <p class="fp-lead">{{ petition.title|striptags }}</p>
  </div>
  <div class="fp-actions">
    <a class="fp-btn fp-btn-tertiary" href="{% url "show_signatures" petition.id %}">{% include "components/icon.html" with name="arrow-left" %}{% trans "Back to the signatures" %}</a>
  </div>
</div>
<figure class="fp-card fp-card-body">
  <img class="fp-graph" src="data:image/png;base64,{{ image_base64 }}" alt="{% blocktrans count counter=signatures|length %}Cumulative number of signatures per day, {{ counter }} signature in total{% plural %}Cumulative number of signatures per day, {{ counter }} signatures in total{% endblocktrans %}">
</figure>
{% endblock content %}
