{% extends "layouts/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Signature deleted" %}{% endblock %}

{% block extrameta %}
<meta name="robots" content="noindex">
{% endblock %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="h3 mb-4">{% trans "Signature deleted" %}</h1>
      <p role="status">{% blocktrans with site_name=settings.SITE_NAME %}Your signature has been deleted. Thank you for using {{ site_name }}.{% endblocktrans %}</p>
    </div>
  </div>
</div>
{% endblock %}
