{% extends 'layouts/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans trimmed with name=profile_user %}{{ name }}'s profile{% endblocktrans %}{% endblock title %}

{% block extracss %}
<link href="{% static "css/fp-lists.css" %}" rel="stylesheet">
{% endblock extracss %}

{% block main_content %}
<div class="fp-container">
  <div class="fp-page-header fp-profile-header">
    <span class="fp-profile-avatar">{% include "components/icon.html" with name="person" %}</span>
    <div>
      <h1>{{ profile_user }}</h1>
      <p class="fp-profile-meta">{% blocktrans trimmed count counter=petitions.paginator.count %}{{ counter }} published petition{% plural %}{{ counter }} published petitions{% endblocktrans %}</p>
    </div>
  </div>

  <section class="fp-list-section" id="petitions" aria-labelledby="petitions-title">
    <div class="fp-list-head">
      <h2 id="petitions-title" class="fp-list-title">{% trans "Petitions" %}</h2>
      {% if petitions %}{% include "components/sort_links.html" with sort=sort anchor="petitions" %}{% endif %}
    </div>
    {% trans "This user has not published any petition yet" as empty_title %}
    {% include 'petition/generic_petition_list.html' with petitions=petitions sort=sort empty_title=empty_title %}
  </section>
</div>
{% endblock main_content %}
